.u-section-1 {
  background-image: url("images/ddmin.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 765px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 5.75rem;
  letter-spacing: 2px;
  margin: 95px 483px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5.625rem;
    margin-right: 283px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 427px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5rem;
    width: auto;
    margin-top: 60px;
    margin-right: 151px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 192px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 0% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 40px;
    margin-right: 92px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 732px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 361px;
  margin: 460px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 637px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }
}